* { margin:0px; padding:0px; }
*:focus { outline: none; }
a { text-decoration:none; }
html, body, main { height:100%; }
body { font-family:Arial, Helvetica, sans-serif; }
form { height:600%; }
main { width:100%; overflow: hidden; } 
section { width:calc(100% - 60px); height:calc(16.666% - 60px); display:inline-block; padding:30px; text-align:center; }
h1 { padding:30px 0; }
.button { display:inline-block; background:#afe3b7; border:1px solid #121212; height:18px; color:#121212; padding:10px 30px; border-radius:4px; vertical-align:top; }
input[type=text] { /*width:calc(100% - 10px);*/ width:300px; height:30px; }
input[type=text], select { padding:4px; border:1px solid #121212; border-radius:4px; vertical-align:top; }
select { height:40px; }
label { vertical-align:top; font-size:16px; padding:10px; display:inline-block; }
.languages {width:300px; text-align:left; display:inline-block; }
.languages label { width:100%; padding:10px 0; }
.error { color:#ff0000; padding-top:15px; font-weight:bold;  }
table td { text-align:left; padding:0px 10px; }
ul { margin-left:15px; }